body{
    background-color: whitesmoke;
}
header{
     background-color: chocolate;
     height: 150px;
}
.container{
    display: flex;
    flex-direction: row;
}
section{
    background-color: yellow;
    width: 70%;
    height: 200px;
    margin-right: 10px;
    margin-top: 10px;
}
aside{
    background: yellow;
    width: 29%;
    height: 200px;
    margin-top: 10px;
}
footer{
    background-color: chocolate;
    height: 80px;
    margin-top: 10px;
}